@model TimeSheetManagementProject.Models.TimeSheetDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeSheetDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DaysOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblLogin.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblLogin.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeSheetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
